PORT=''
BASE_URL=""

DATABASE_URL=""

APP_SCHEME=''

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
GOOGLE_AUTH_URL=""
GOOGLE_AUTH_ACCOUNT_URL=""

JWT_SECRET=''
ADMIN_API_KEY=''

MAIL_USER=""
MAIL_PASSWORD=""


